In [1]:
a=[1,4,5,6]

In [2]:
print(type(a))

<class 'list'>

In [3]:
# conversion of a list to a tuple
b=tuple(a)
print(type(b))

<class 'tuple'>

In [9]:
# if the object is inside a tuple which is mutable then only that elememt is mutable
b=(1,[3,4,5],"foo")
b[1].append(0)
print(b)

(1, [3, 4, 5, 0], 'foo')

In [10]:
#multiplying a tuple inside a tuple with integer will help make it that times 
#-- input ("foo","hoo")*4    --output("foo","hoo","foo","hoo","foo","hoo")
b=("foo","hoo")*4
print(b)

('foo', 'hoo', 'foo', 'hoo', 'foo', 'hoo', 'foo', 'hoo')

In [11]:
# concatenation of tuple 
c=("aryan","aman")
b+c

('foo', 'hoo', 'foo', 'hoo', 'foo', 'hoo', 'foo', 'hoo', 'aryan', 'aman')

In [18]:
# tuple Unpacking 
a,b=(3,4)
print(a,b)
# advanced tuple unpacking
a,b,*rest=3,4,5,6,7,8,9
print(a,b)
# if I try to print rest as print(rest) then I will get only array and if I use print(*rest) then I will get a a tuple

print(rest)

3 4
3 4
[5, 6, 7, 8, 9]

In [19]:
# tuple methods
a=(1,3,4,5,6,7,8,9,0)
print(a.count(4))

1

In [33]:
#List 
# append # insert operation in list
a=["aryan","aman"]
a.append("kamal")
print(a)
a.insert(1,"vimlesh")
print(a)
#Note insert is a compute heavy operation as all the indexes have to be shifted 
#list concatenation
b=["a","b","c"]
print(a+b)
#we can also extent the pre defined list
b.extend(["kamal","aparna"])
print(b)
#sorting of list
a=["aman","vimlesh","kamal","laila"]
a.sort(reverse=True)
print(a)
# we can also provide a parameter key which can be used to used to sort the list
a.sort(key=len,reverse=False)

# Binary Search and Binary Module our goal is to insert the element in the array in such a way that list is
#sorted
a=[1,3,4,5,6,7]

['aryan', 'aman', 'kamal']
['aryan', 'vimlesh', 'aman', 'kamal']
['aryan', 'vimlesh', 'aman', 'kamal', 'a', 'b', 'c']
['a', 'b', 'c', 'kamal', 'aparna']
['vimlesh', 'laila', 'kamal', 'aman']

In [42]:
#Binary Search and Binary Dissection
# suppose we want to insert an element in the middele in such a way that it is in ordered manner inserted in 
#elemenet at the same position
l=[13,44,5,6,7,9,10,11]
l.sort()
print(l)
import bisect
# it is returning the  index of the element

d=bisect.bisect(l,3)

[5, 6, 7, 9, 10, 11, 13, 44]
0

In [45]:
seq=[1,3,5,6,7,8,9,10]
seq[::3]

[1, 6, 9]

In [46]:
# Built in Sequence Pattern
some_list=["foo","hoo","koo"]
for i,v in enumerate(some_list):
    print(i,v)

0 foo
1 hoo
2 koo

In [48]:
# converting of an list to dictionary
li=["foo","hoo","koo"]
kamal={}
for i,v in enumerate(li):
    kamal[i]=v
print(kamal)

{0: 'foo', 1: 'hoo', 2: 'koo'}

In [51]:

sorted(seq,reverse=True)

[10, 9, 8, 7, 6, 5, 3, 1]

In [62]:
#zip poirs the two list of the elements 
seq1=["foo","hoo","koo"]
seq2=["loo","doo","poo"]

seq3=[True,False]
zipped=zip(seq1,seq2,seq3)

# number of elements in both the zipped obbjects should be same, otherwise it will give (min(len(a),min(len(b)))
# using it to iterate multiple sequences together using zipped
for i,(a,b,c) in enumerate(zipped):
    print(f"{i},{a},{b},{c}")

0,foo,loo,True
1,hoo,doo,False

In [64]:
pitchers=zip(seq1,seq2)
se1,seq2=zip(*pitchers)
print(seq1)

['foo', 'hoo', 'koo']

In [69]:
#dictionary
#empty_dict
a={}
a["aman"]="vimlesh"
a['b']=[1,3,4,5,6,7]
print(a)

{'aman': 'vimlesh', 'b': [1, 3, 4, 5, 6, 7]}

In [73]:
# finding the keys and values in dictionary
print(a.keys())
print(a.values())

dict_keys(['aman', 'b'])
dict_values(['vimlesh', [1, 3, 4, 5, 6, 7]])

In [100]:
# creating dictionary from the sequences
keys=["a","b","c","d","e"]
values=[1,3,4,5,6]
d={}
# seq1 as keys and seq2 as values and d[seq1]=value
for key,value in zip(keys,values):
    d[key]=value
#print(d)  -- output  {'a': 1, 'b': 3, 'c': 4, 'd': 5, 'e': 6}
# since dictionary is a collection of 2 tuples therefore it takes 2 parameters
d=dict(zip(keys,values))
#print(d)
e={("a",4),("b",5)}
# print(e)   --output {('a', 4), ('b', 5)}
# Default -Values
"""With setting values, a common case is for the values in a dict to be other collec‚Äê
tions, like lists. For example, you could imagine categorizing a list of words by their
first letters as a dict of lists:"""
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter={}
# counting the number of words in list
for word in words:
    if word in by_letter.keys():
        by_letter[word]+=1
    else:
        by_letter[word]=1
        
# program to group the words parallely
# defining a new_dictionary
new_d={}
# iterating through the words
for word in words:
    # taking a first letter in word
    alphabet=word[0]
    # if alphabet is not present in keys then add a key with the list of values so that next time we can insert thelist
    if alphabet not in new_d.keys():
        new_d[alphabet]=[word]
    else:
        new_d[alphabet].append(word)

        
# for the value to be used as a key in dictionary it's should be hashable which we can find using hash function
print(hash("aryan"))  # string is a hashable
print(hash(("aman","kamal")))  # string is a has

-4128488151715616534
-8855702662113332584

In [101]:
print(by_letter)
# a dictionary can nnot be hashed object which means it can not be bus used as hashable object

{'apple': 1, 'bat': 1, 'bar': 1, 'atom': 1, 'book': 1}

TypeError: unhashable type: 'dict'

In [103]:
a=(3,34,5,6,7,9)
a[3]="aryan"

TypeError: 'tuple' object does not support item assignment

In [106]:
# to use a list as a key we have to convert it into a tuple
b={}
b[tuple([1,3,4,5,6])]=5
#here list is converted into a tuple then given it to a insert

In [107]:
#set
# set is a unorderder group of items
b=set([1,3,4,5,6,7,7,0])
# here set does not contain repetition of elements
print(b)

{0, 1, 3, 4, 5, 6, 7}

In [113]:
a={1,3,4,5,6,7,8,9}
b={11,13,14,15,16,17,3}
# Union can be appeded on a union b or a|b
a.union(b)  #output {1, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17}
a|b

# intersection can be used for a&b and a intersection b
a&b

{3}

In [119]:
c=a
print(c==a)
a_set={1,3,4,5,6,7,8,9}
{1,3,5}.issubset(a)

True

True

In [120]:
strings=["a","aman","vimlesh","kamal","hello","hi","baby"]
[x.upper() for x in strings if len(x)>2]

['AMAN', 'VIMLESH', 'KAMAL', 'HELLO', 'BABY']

In [122]:
unique_length={len(x) for x in strings}
print(unique_length)

{1, 2, 4, 5, 7}

In [123]:
all_data=[["John","kamal","vimlesh","raja"],
         ["bablu","Elu","hohoha"]]
print(all_data)

[['John', 'kamal', 'vimlesh', 'raja'], ['bablu', 'Elu', 'hohoha']]

In [129]:
# nested list of lists
names=[x for name in all_data for x in name if name.count("e")==1]
print(names)

[]

In [131]:
# finding the values in tuples
some_tuples=[(1,3,4),(5,6,7),(8,9,10)]
flattened=[x for tup in some_tuples for x in tup]
flattened

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
# data cleanining using Python functions
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda','south carolina##', 'West virginia?']
states

[' Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina##',
 'West virginia?']

In [137]:
# methods for preprocesssing of data
# here we are trying to remove the extra charcters from the list such as ? #, and !
import re
def clean_strings(text):
    #defining a new list
    new_list=[]
    # iterating through each element
    for value in text:
        # stripping each value so that --input "aryan"  --output "a","r","y","a","n"
        value=value.strip()   
        print(value)
        # replacing the value in the text from each element for e.g in the value we can replace all that with ""
        value=re.sub("[!#?]","",value)
        value=value.title()
        new_list.append(value)
    return new_list
clean_strings(states)

Alabama
Georgia!
Georgia
georgia
FlOrIda
south carolina##
West virginia?

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [143]:
l=" aman  ?!"
l.strip()

'aman  ?!'

In [145]:
l.title()

' Aman  ?!'